:root {
    --mainColor: #46344E;
    --sexondaryColor: #382a3f;

    --borderColor: #1d1520;
    --themeDotBorder: #fff;

    --mainText: #fff;
    --sexondaryText: #eeeeee;

    --previewBg: rgb(29, 21, 32, 0.8);
    --previewShadow: #2b202f;

    --btnColor: #8534a3;
}